.hello {
  color: red;
  background-image: url('../image/girl.jpg') no-repeat;
  font-family: 'Font'
}

@font-face {
  font-family: 'Font';
  src: url(../font/font.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}